<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  
  <div class="details content">
    <h3>Welcome <%= user.username %></h3>
    <h1>Profile:</h1>
    <div class="content">
      <p><span>Esn: </span><%= phone.esn %></p>
      <p><span>Model: </span><%= phone.model %></p>
      <p><span>Maker: </span><%= phone.maker %></p>
      <p><span>Carrier: </span><%= phone.carrier %></p>
      <p><span>Bar Code: </span><%= phone.barcode %></p>
      <p><span>Ph Rm Loc: </span><%= phone.PhRmLoc %></p>
      <p><span>Cur Loc: </span><%= phone.CurLoc %></p>
      <p><span>Received_Date: </span><%= phone.Received_Date %></p>
      <p><span>Received_Items: </span><%= phone.Received_Items %></p>
      <p><span>Inventory_Status: </span><%= phone.Inventory_Status %></p>
      <p><span>Expected_Return: </span><%= phone.Expected_Return %></p>
      <p><span>Actual_Return: </span><%= phone.Actual_Return %></p>
      <p><span>To_China_Date: </span><%= phone.To_China_Date %></p>
      <p><span>Who_Bring_Over: </span><%= phone.Who_Bring_Over %></p>
      <p><span>Bring_Over_Items: </span><%= phone.Bring_Over_Items %></p>
      <p><span>China_Return: </span><%= phone.China_Return %></p>
      <p><span>Note: </span><%= phone.Note %></p>

    </div>
  </div>


 <div class="operation-btn">
  <br>
  <form action="/edit-phone/<%= phone.esn %>/<%= action %>" method="edit">
    <button type="submit">Updates</button>
  </form>
  <form action="/phones/<%= phone.esn %>" method="post">
    <button class="remove-btn"   type="submit" >Remove</button>
  </form>
  
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>