<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h3>Hi, <%= user.username %></h3>
  <h3>only admin users can edit data</h3>
  <div class="details content">
    <h1>Profile:</h1>
    <div class="content">
      <p><span>Esn: </span><%= phone.esn %></p>
      <p><span>Model: </span><%= phone.model %></p>
      <p><span>Carrier: </span><%= phone.carrier %></p>
      <p><span>Bar Code: </span><%= phone.barcode %></p>
      <p><span>Ph Rm Loc: </span><%= phone.PhRmLoc %></p>
      <p><span>Cur Loc: </span><%= phone.CurLoc %></p>
      <p><span>Note: </span><%= phone.Note %></p>
    </div>
  </div>


 <div class="operation-btn">
  <br>
  <form action="/edit-phone/<%= phone.esn %>/<%= action %>" method="edit">
    <button type="submit">Updates</button>
  </form>
  <form action="/phones/<%= phone.esn %>" method="post">
    <button class="remove-btn"   type="submit" >Remove</button>
  </form>
  
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>