<html lang="en">
<%- include("./partials/head.ejs") %>



<body>
  <%- include("./partials/nav.ejs") %>


  <div class="blogs content">
    
    <% if (locals.user) { %>
      <h3>Welcome, <%= user.username %></h3>
    <% } else { %>
      <h3>Welcome, Guest</h3>
    <% } %>

    <form action="/search" method="post">
        <label for="keywords">Search Keywords:</label>
        <input type="text" id="keywords" name="keywords" required>
        <button type="submit">Search</button>
    </form>

    <h2>All Phones</h2>
    <% if (locals.phones && locals.phones.length > 0) { %>
      <table>
          <tr>
              <th>ESN</th>
              <th>Model</th>
              <th>Carrier</th>
              <th>Barcode</th>
              <th>PhRmLoc</th>
              <th>CurLoc</th>
              <th>Note</th>
          </tr>
      <% phones.forEach(phone => { %>
          <tr onclick="window.location='/phones/<%= phone.id %>'" style="cursor:pointer;">
              <td><%= phone.esn %></td>
              <td><%= phone.model %></td>
              <td><%= phone.carrier %></td>
              <td><%= phone.barcode %></td>
              <td><%= phone.PhRmLoc %></td>
              <td><%= phone.CurLoc %></td>
              <td><%= phone.Note %></td>
              <!-- Add other fields as needed -->
              </a>
          </tr>
      <% }); %>  
      </table>

  <% } else { %>
      <p>There are no phones to display...</p>
  <% } %>


    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>